<!DOCTYPE html>
<html>
  <head>
    <title>WebDiary</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application.scss' %>
    <%= javascript_include_tag 'application.js' %>
  </head>

  <body>
    <%= render 'refills/navigation' %>

    <%= yield %>
  </body>
</html>
